<?xml version="1.0" encoding="utf-8"?>
<!-- Balíček, verze a minSdk/targetSdk doplňuje build (Gradle, případně scripts/build-apk.sh). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Fotoaparát se volá přes ACTION_IMAGE_CAPTURE; oprávnění CAMERA záměrně nedeklarujeme,
         jinak by ho systém vyžadoval i pro tento intent. -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode" />

        <provider
            android:name=".FilesProvider"
            android:authorities="cz.teacherfriend.redpen.files"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
